<div id="<%= dom_id order %>">
  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= order.product_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

  <div>
    <strong>Cost:</strong>
    <%= order.cost %>
  </div>

</div>
