<div id="<%= dom_id order %>" class="order-wrap">
  <div class="order-card">
    <div class="order-details">
      <div>
        <strong>Order:</strong>
        <%= order.name %>
      </div>

      <div>
        <strong>ID:</strong>
        <%= order.public_id || order.id %>
      </div>

      <div>
        <strong>Cost Credits:</strong>
        <%= order.cost %>
      </div>
    </div>
    <div class="order-status">
      <div>
        <strong>Status:</strong>
        <% if order.status == "denied" %>
          <span style="color: red;">Denied</span>
        <% elsif order.status == "pending" %>
          <span style="color: orange;">Pending</span>
        <% elsif order.status == "shipped" %>
          <span style="color: green;">Fulfilled</span>
        <% else %>
          <span>Unknown - <%= order.status %></span>
        <% end %>
      </div>

      <div>
        <strong>Created At:</strong>
        <%= order.created_at.strftime("%B %d, %Y %I:%M %p") %>
      </div>
      
      <div class="order-actions">
        <% unless current_page?(order_path(order)) %>
          <%= link_to "Show this order", order, class: 'btn-retro btn-retro--outline' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
