<div id="<%= dom_id order %>">
  <style>
    #order-card {
      border: 2px solid var(--main-700);
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 12px;
      background-color: var(--main-100);
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    #order-details div, #order-status div {
      margin-bottom: 8px;
    }

    #order-details strong, #order-status strong {
      color: var(--main-900);
    }
  </style>
  <div id="order-card">
    <div id="order-details">
      <div>
        <strong>Product:</strong>
        <%= order.product_id %>
      </div>

      <div>
        <strong>ID:</strong>
        <%= order.public_id || order.id %>
      </div>

      <div>
        <strong>Cost:</strong>
        <%= order.cost %>
      </div>
    </div>
    <div id="order-status">
      <div>
        <strong>Status:</strong>
        <% if order.status == "denied" %>
          <span style="color: red;">Denied</span>
        <% elsif order.status == "pending" %>
          <span style="color: orange;">Pending</span>
        <% elsif order.status == "shipped" %>
          <span style="color: green;">Fulfilled</span>
        <% else %>
          <span>Unknown - <%= order.status %></span>
        <% end %>
      </div>

      <div>
        <strong>Created At:</strong>
        <%= order.created_at.strftime("%B %d, %Y %I:%M %p") %>
      </div>
      
      <div style="margin-top:8px">
        <% unless current_page?(order_path(order)) %>
          <%= link_to "Show this order", order, class: 'btn-retro btn-retro--outline' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
