<div class="admin-panel">
  <div class="admin-page-header">
    <h1>Edit User</h1>
  </div>

<%= form_with model: [:admin, @user], local: true do |f| %>
  <% if @user.superadmin? %>
    <p><em>This is the superadmin and their role cannot be changed.</em></p>
  <% end %>

  <div>
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |r| [r.humanize, r] }, disabled: @user.superadmin? %>
  </div>

    </div> <!-- admin-panel -->
  <% if current_user&.admin? || current_user&.superadmin? %>
    <div style="margin-top:8px;">
      <%= f.label :currency, "Total Credits" %><br>
      <%= f.number_field :currency, step: 0.01, value: @user.currency || 0.0 %>
    </div>
  <% end %>

  <div style="margin-top: 8px;">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
